services:
  backend:
    build: ./backend
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/usr/src/app
      - /usr/src/app/node_modules
    env_file:
      - ./backend/.env

  frontend:
    build: ./gesto
    ports:
      - "3000:3000"
    volumes:
      - ./gesto:/app
      - /app/node_modules
    depends_on:
      - backend
